/*
  TODO vamos a hacer esto 
*/

html {
  box-sizing: border-box;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  box-sizing: inherit;
  font-family: Helvetica, Arial, Calibri;
  min-width: 100%;
  position: relative;
}

#contenedor{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.contenedor-grande {
  min-height: 100vh;
}

#contenedor>section {
  flex: 1;
}

.contrase {
  position: relative;
}

.span-ojo {
  width: 20%;
}

/* HEADER -------- CABEZA DE PÁGINA ----- */
header {
  position: static;
  width: 100%;
  box-shadow: 0px 4px 20px black;
}

/* CABECERA -----------------------------------------*/

/*#cabecera {*/
/*  background: url("../img/bernabeu.jpg") repeat-x;*/
/*  display: flex;*/
/*  justify-content: flex-start;*/
/*}*/

.cabecera {
  background: url("../img/bernabeu.jpg") repeat-x;
  display: flex;
  justify-content: flex-start;

}

#logo-madrid img {
  width: 8em;
  padding: 10px;
}

#logo-madrid {
  margin-right: 25%;
}

#texto-madrid h1 {
  text-align: right;
  font-family: Mohave;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 1px #453C69;
  text-shadow: 0px 4px 9px black;
  font-size: 3.5em;
  width: 100%;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


#texto-madrid {
  align-items: center;
  text-align: center;
}

/*OCULTO HASTA QUE SE HACE PEQUEÑO*/
#logo-adidas {
  min-width: 10em;
  max-width: 10em;
  padding: 25px
}

#logo-adidas img {
  min-width: 9em;
  max-width: 9em;
}

/* MENÚ -----------------------------------------*/
#menu {
  background: #453C69;
  border-bottom: 5px solid #EAA651;
  display: flex;
  justify-content: right;
}

#menu #hamburguesa ol li {
  text-align: center;
}

#menu #hamburguesa {
  text-align: center;
  width: 70%;
  font-weight: bold;
  padding-top: 5px;
}

#menu #hamburguesa ol {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

#busq-user-car {
  margin-left: 2em;
  padding-top: 5px;
}

#busq-user-car ol li {
  padding-right: 5px;
  text-align: center;
  list-style-type: none;
}

.mostrar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1em;
}

#busq-user-car ol {
  display: flex;
  justify-content: space-around;
  margin-block-start: 13px;
  padding-inline-start: 0;
}

#busq-user-car ol li input[type="text"] {
  width: 95%;
  border-radius: 10px;
  padding: 0.3em;
}

/* MENÚ NAV ------------------------------------------------------------- */

.offScreenMenu {
  position: fixed;
  top: 42.5px;
  left: -41px;
  width: 50%;
  max-width: 300px;
  min-width: 220px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: none;
}

.link-off {
  padding: 15px 0;
  display: block;
  transition: background-color 0.4s;
  color: rgba(255,255,255,0.75);
  padding-left: 27px;
  background: #453C69;
  width: 100%;
  text-decoration: none;
}

.link-off:hover, .link-off:focus {
  background-color: #5a4d8f;
}

.last {
  border-bottom: 5px solid #EAA651;
}

#menu-in {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #453C69;
  border-bottom: 5px solid #EAA651;
  padding: 0 30px;
  height: 60px;
}

#menu-in a {
  display: block;
}

#nav {
  display: none;
}

.nav-list {
  display: flex;
  column-gap: 1.5em;
}

.nav-item {}

.nav-link {
  color: rgba(255,255,255,0.7);
  transition: color 0.4s;
  font-size: 20px;
  text-decoration: none;
}

.nav-link:hover, .nav-link:focus{
  color: rgba(255,255,255,1) ;
}

.hamburguer-menu {
  display: none;
  cursor:pointer;
  padding-left: 4px
}

.hamburguer-menu ol {
  display: none;
}

.show-menu .nav {
  display: block;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: rgba(255,255,255,0.7) ;
  margin: 5px auto;
  transition-property: background-color;
  transition-duration: 0.4s;
}

.hamburguer-menu:hover, .hamburguer-menu:focus {
  .bar {
    background-color: rgba(255,255,255,1);
  }
}

#logo-adidas img{
  display: none;
  width: 40%;
}


.header-cont {
  position: fixed;
  width: 100%;
  top: 0;
}

/* CONTENIDO PRINCIPAL ------------------------------------------------- */

#contenido {
  margin: 0 auto;
  width: 85%;
}

#contenido p {
  text-align: justify;
  line-height: 1.2em;
}

.titulo-p {
  padding-top: 3em;
  font-size: 2em;
  color: #453C69;
  text-align: center;
}

/* CONTENIDO REGISTRO / LOGIN ------------------------------------------------- */
.espacioHeader {
  margin-bottom: 10%
}

#contenido-r {
  width: 100%;
}

#contenido-r h2 {
  color: #453C69;
  color: #453C69;
  text-align: center;
  width: 100%;
}


#contenido-l {
  width: 100%;
}

#contenido-l h2 {
  padding-top: 2em;
  color: #453C69;
  color: #453C69;
  text-align: center;
  width: 100%;
}


#contenido-l .formcrear input[type="text"], .formcrear input[type="password"], .formcrear input[type="email"]{
  padding: 0.8em;
  margin-bottom: 2em;
  width: 96%;
  text-align: center;
  border-radius: 100px;
}

.formcrear {
  text-align: center;

}

#contenido-r .formcrear input[type="text"], .formcrear input[type="password"], .formcrear input[type="email"]{
  padding: 0.8em;
  width: 96%;
  text-align: center;
  border-radius: 100px;
  margin-bottom: 2em;
}

#contenido-r span {
  padding: 0;
  margin: 0;
}

.boton-cont {
  background-color: #EAA651;
  border: 1px solid #939393;
  padding: 0.8em;
  margin: 0 auto;
  width: 70%;
  max-width: 70%;
  border-radius: 50px;
  margin-top: 1em;
  text-align: center;
  transition: background-color 0.4s;
}

.boton-cont:hover, .boton-cont:focus {
  background-color: #df8d31;
}

.verificar {
  display: flex;
  justify-content: flex-start;
}

#ojillo, #ojo2 {
  color: black;
  position: absolute;
  left: 16px

}

#ojito {
  color: black;
  position: absolute;
  left: 16px
}

.contrase {
  display: flex;
  justify-content: center;
}

.socio {
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid #453C69;
  margin-top: 5%;
  padding-top: 5%;
}

.socio span {
  padding-right: 5px;
}

#contenido-r #preguntas {
  font-size: 0.8em;
  margin: 0 auto;
  display: flex;
}

#contenido-l #preguntas {
  font-size: 0.8em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.enlace:hover, .enlace:focus {
  color: #8273bf;
}


.enlace{
  font-weight: bold;
  color: #453C69;
  text-decoration: none;
  transition: color 0.4s;

}

/* CONTENIDO COMPETICIÓN ------------------------------------------------- */

#contenido-c {
  padding-top: 7vh;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.title {
  margin: 0 auto;
  width: 71%;
  text-align: center;
}

#contenido-c h2 {
  color: white;
  background-color: #453C69;
}


.pedir-datos {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 1em;
  -webkit-box-shadow: 1px 1px 10px black;
  background-color: #F3F3F3;
  padding: 10px 40px;
  
}

.pedir-datos img {
  width:80px;
}

#contenido-c h2 img {
  width: 1em;
  padding-top: 4px;
}

#parte-abaj h2 {
  width: 72%;
  margin: 0 auto;
  margin-bottom: 10px
}

.info-medio {
  padding-top: 30px;
  margin: 0 15px
}

#parte-abaj img {
  left: 50px;
}

.info-medio {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.fecha-partido {
  font-size: 0.7em;
}

#parte-abaj {
  display: none;
  width: 100%;
}

#parte-dcha {
  display: none;
  margin-left: -100px;
}

#contenido-general {
  padding:20px
}


/* CONTENIDO TIENDA ------------------------------------------------- */

#contenido-t {
  padding-top: 6vh;
  width: 95%;
  margin: 0 auto;
}

#tienda-real {
  margin-top: 2em;
  border-top: 2px solid #453C69;
  border-bottom: 2px solid #453C69;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  
}

#tienda-real h2 {
  color: #453C69;
  margin-left: 1em;
  margin-right: 1em;

}

#productos {
  width: 110%;
  max-width: 900px;
  margin: 0 auto;
}

#productos img{
  width: 70%;
}

#productos ol li div {
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.prod {
  transition: background-color 0.5s;
  float: left;
  width: 30%;
  text-align: center;
  border-radius: 5%;
  margin: 5px
}

.prod:hover {
  background-color: #e4e4e4;  
}

/* CONTENIDO USUARIO ------------------------------------------------- */

#contenido-u {
  padding-top: 6vh;
  margin: 0 auto;
}

#img-user img {
  width: 20%;
  height: auto;
  object-fit: cover;
  border: 1px solid black;
  -webkit-box-shadow: 1px 1px 6px black;
}

#img-user {
  text-align: center;
  width: 20%;
  padding-top: 65px
}

#info-user {
  text-align: center;
  width: 30%;
  border: 2px solid transparent;
  margin: 0 15px;
  margin-top: 100px;
}

#info-user h2{
  -webkit-text-stroke: 1.5px #453C69;
  color: white;
  font-size: 2em;
  margin-top: 3.5em;

}

.formuser {
  margin-left: auto;
  margin-right: auto;
  margin-top:1.875rem ;
  width: 100%;
  padding: 0;
}

.input {
  width: 92%;
  max-width: 510px;
  padding: 1em;
  border-radius: 15px;
  margin-bottom: 2em;
  text-align: center;
}

.in-final {
  width: 92%;
  max-width: 510px;
  padding: 1em;
  border-radius: 15px;
  margin-bottom: 1em;
  text-align: center;
}

.aceptarCambios {
  background-color: #EAA651;
  border: 2px solid #939393;
  padding: 0.8em;
  font-size: 1em;
  transition: background-color 0.4s, color 0.4s;
}

#info-user input[type="text"], #info-user input[type="password"]{
  padding-block: 0px;
  padding-inline: 0px;
  padding: 10px;
}

#Hala-madrid {
  width: 30%;
  
}

#Hala-madrid img {
  height: 100%;
  max-width: 535px;
}

.imagen-h2 {
  width: 30%;
  border: 1px solid black;
  -webkit-box-shadow: 1px 1px 6px black;
  min-width: 130px;
  margin-top: 5%;
}

#editado {
  background-color: #E8FFDD;
  border: 1px solid #5D6C55;
  color: #5D6C55;
  border-radius: 10px;
  text-align: center;
  width: 70%;
  padding: 0.3em;
  position: absolute;
  bottom: 28%;
  right: 0%;
  display: none;
}

.cont-h2 {
  align-items: center;
  display: flex;
  justify-content: space-between;

}

/* CONTENIDO ELIMINAR ------------------------------------------------- */

#contenido-e h2 {
  color: #453C69;
}

#contenido-e {
  padding-top: 17vh;
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.botones {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.interno {
  width: 70%;
  height: 300px;
  margin: 0 auto;
  border: 4px solid #453C69;
  border-radius: 10px;
  padding: 20px;
  padding-top: 12rem
}

.completar {
  border: 2px solid rgba(255, 35, 35, 0.671);
  color: rgba(255, 35, 35, 0.671);
  background-color: rgba(255, 101, 101, 0.486);
  border-radius: 100px ;
  padding: 10px 40px;
  transition: background-color 0.4s, color 0.4s;
}

.cancelar {
  border-radius: 100px ;
  padding: 10px 40px;
  transition: background-color 0.4s, color 0.4s;
}


/* FOOTER -------- PIE DE PÁGINA -------------------------------------- */

#footer {
  margin-top: 2em;
  box-shadow: 0px 4px 20px black;
  clear: both;
  background-color: #453C69;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
}

#terminos-demas ol {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  unicode-bidi: inherit;
}

#footer ol, footer-r ol {
  padding: 0;
  display: inline;
  list-style-type: decimal;
  margin: 0px;
  text-align: center;
  padding-bottom: 40px;
}

#medio {

}

#medio #redes img {
  width: 15%;
  max-width: 100px;
  margin-top: 0.2em
}

#terminos-demas {
  text-align: center;

}

#terminos-demas ol li {
  display: inline-block;
  margin: 0 0;
  padding: 3px;
  font-size: 0.8em;
  text-align: center;
}

#copyright-terms {
  text-align: center;
  color: white;
  padding-bottom: 10px;
  font-size: 0.7em;
}


#redes {
  text-align: center;
  color: white;
  padding-top: 5px
}

/* PIE PARA PÁGINAS PEQUEÑAS ------------------------------------------------- */

.moverArriba {
  padding-bottom: 120px
}

#footer-r {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-top: 2em;
  box-shadow: 0px 4px 20px black;
  clear: both;
  background-color: #453C69;
  display: flex;
  justify-content: center;
}

#contenido-r {
  padding-top: 230px;
  margin: 0 auto;
  width: 60%;
  text-align: justify;
  max-width: 600px;
  min-height: 49.5vh;
}

#contenido-l {
  padding-top: 260px;
  margin: 0 auto;
  width: 60%;
  text-align: justify;
  max-width: 600px;
}

/*SPINNER ===================================================================================*/
.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #453C69;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

.bajar {
  padding-top: 20px;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
}
}

/* REGISTRO ============================================================================= */


/* CLASES Y GENERALES */

.eliminar a {
  color: #453C69;
  font-weight: bold;
  transition: color 0.4s;
  text-decoration: none;
}

.eliminar a:hover, .eliminar a:focus {
  color: #6b56c1;
}

.eliminar {
  display: flex;
  justify-content: space-between;
}

.eliminar-off {
  display: flex;
  justify-content: space-evenly;
  display: none;
}

ol {
  list-style: none;
}

.titulo {
  text-align: center;
  font-family: Mohave;
  font-weight: bold;
  color: #453C69;

}

.pointer {
  cursor: pointer;
}

.aceptarCambios:hover, .aceptarCambios:focus {
  background-color: #f7bf80;
  color: white;
}

.cancelar:hover, .cancelar:focus {
  background-color: grey;
  color: white;
}

.completar:hover, .completar:focus {
  background-color: brown;
  color: white;
}

.ok {
  color: #5D6C55;
}


.imagen img {
  width: 5em;
}

.mensaje {
  display: flex;
  flex-direction:column ;
  position: absolute;
  bottom: 17%;
  width: 100%;
  align-items: center;
  text-align: center;
}


.mensaje2 {
  display: flex;
  flex-direction:column ;
  position:absolute;
  bottom: 14%;
  width: 100%;
  align-items: center;
  text-align: center;
}

.frases {
  display: flex;
}

.redirigir {
  color: #df8d31;
}

.bad {
  position: absolute;
  bottom: 23%;
  text-align: center;
  color: #8b4343;
  width: 100%;
  margin: 0 0;
}

.badLog {
  position: absolute;
  bottom: 23%;
  text-align: center;
  color: #8b4343;
  width: 100%;
  margin: 0 0;
}

.ok2 {
  text-align: center;
  color: #5D6C55;
  display: flex;
  flex-direction: column;
  bottom: 18%;
  width: 100%;
}

.bad2 {
  position: absolute;
  bottom: 18%;
  text-align: center;
  color: #8b4343;
  width: 100%;
  margin: 0 0;
}



.space {
  padding-bottom: 20%;
}

.enl {
  display: block;
  color: white;
  text-decoration: none;
}

.boton-cancelar {
  text-decoration:none;
  border: 2px solid gray;
  border-radius: 100px ;
  color: white;
  padding: 10px 40px;
  transition: background-color 0.4s, color 0.4s;
  background-color: #b3b3b3;
}

.boton-cancelar:hover, .boton-cancelar:focus {
  background-color: #939393;
} 

#mmas {
  border: 1px solid grey;
  background-color: rgb(225, 225, 225);
  transition: background-color 0.3s;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  display: block;
}

#mmas:hover {
  background-color: #b3b3b3;
}

#mmenos {
  border: 1px solid grey;
  background-color: rgb(225, 225, 225);
  transition: background-color 1s;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  display: none;
}

#pagi2 {
  display: none;
}

#pagi1 {
  display: block;
}

#mmenos:hover {
  background-color: #b3b3b3;
}


/* PONER LAS MEDIA QUERYS AL FINAL PARA QUE NO HAYA FALLOS */
/* NUNCA PONER PÍXELES EN @MEDIA --> porque va por resolución de la pantalla */
@media only screen and (max-width:899.504px){
  #pagi2 {
    display: none;
  }

  .info-partido {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .pedir-datos {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px
  }
  
  .info-partido img {
    margin: 10px
  }

  .eliminar-off{
    display: block;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
  }

  .eliminar a {
  }

  .eliminar-off a img{
    display: block;
    width: 40px;
  }

  .eliminar{
    display: none;
  }

  .hamburguer-menu {
    display: block;
  }

  .socio {
    margin-top: 3em;
  }

  #menu-in {
    justify-content: space-between;
  }

  #busq-user-car {
    margin-right: 0.3em;
    margin-left: 0;
  }

  #texto-madrid {
    display: none;
  }

  .cabecera {
    justify-content: space-between;
  }

  #logo-adidas img {
    display: block;
  }

  #productos ol li {
    float: left;
    width: 40%;
    
  }


  #contenido-u form {
    margin: 0
  }

  #contenido-u h2 {
    font-size: 1.5em;
    text-align: left;
    margin-right: 20px;
    margin-left: 1em;
    margin-block-end: 0;
    margin-block-start: 0;
  }

  #contenido-u {
    padding-top: 15vh;
  }

  #img-user {
    display: none;
  }

  #img-user img{
    display: none;
  }

  #contenido-u .imagen-h2 {
    display: block;
    border-radius: 40%;
  }

  #info-user {
    width: 60%;
    margin: 0 auto;
  }

  #Hala-madrid {
    display: none;
  }

  #contenedor-u {
    min-height: 88vh;
  }

  .cont-h2 {
    display: flex;
    justify-content: center;
    margin: 0 0;

  }

  .cont-h2 img {
    width: 30%;
    height: auto;
    margin-bottom: 30px;
  }

  #contenido-c {
    display: flex;
    flex-direction: column;
  }

  #parte-abaj {
    display: block;
  }


  #parte-izq {
    margin: 0 auto;
  }

  .pedir-datos {
    padding: 10px 40px;
  }


  .contenido-general {
    display: flex;
    flex-direction: column;
  }



}


@media only screen and (min-width:899.504px) {
  #contenido {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 65%;
  }

  .notis {
    color: white;
    background-color: #453C69;
    margin-bottom: -15.6px;
    padding:5px
  }

  .noticia {
    display:flex;
    flex-direction: column;
    margin-bottom: 20px
  }

  .content-noti {
    display:flex;
    justify-content: space-evenly;
  }

  .noticia img {
    min-width: 550px;
    width: 50%;
    box-shadow: 7px 7px 6px 0 rgba(20, 20, 20, 0.3);
  }

  .texto-noticia {
    padding: 20px;
    font-size: 1em;
    
  }

  #pagi1 {
    display: block;
  }

  #pagi2 {
    display: none;
  }

  #mmas {
    display: block;
  }

  #mmenos {
    display: none;
  }

 #contenido-c {
  margin-bottom: 20px
 }

  #nav {
    display: block;
  }

  .offScreenMenu {
    display: none;
    border-bottom: none;
  }

  .offScreenMenu ol {
    display: none;
  }

  #logo-adidas img {
    display: none;
  }

  #contenido-u .imagen-h2 {
    display: none;
  }

  #contenido-u {
    display: flex;
    justify-content: space-between;
  }

  #contenido-u #img-user {
    width: 30%;
    text-align: right;
    margin-top: 11rem;
  }

  #contenido-u #img-user img {
    width: 60%;
    height: auto;
  }

.input, .in-final {
    width: 92%;

  }
  .cont-h2 {
    text-align: center;
  }

  #info-user h2 {
    padding-top: 4rem;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-align: center;
    margin: 0 auto;
    font-size: 2em;
  }

  #contenedor-u {
    min-height: 86vh;
  }

  #parte-abaj {
    display: block;

  }

  #parte-dcha {
    display: block;
  }

  #parte-abaj {
    display: none
  }


  .contenido-general {
    display: flex;
    justify-content: space-evenly;
  }


  #contenido-u {
    padding-right:9.375rem;
  }

}
